[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pydantic = "*"
pytest = "*"
confection = "*"
pytest-httpx = "*"
aiometer = "*"
pytest-asyncio = "*"
pymongo = "*"
python-dotenv = "*"
bs4 = "*"
spacy = "*"
fastapi = "*"
uvicorn = "*"
scikit-learn = "*"
fastapi-cache2 = {extras = ["memcache"], version = "*"}
langchain = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"
build = "*"
mongomock = "*"
black = "*"
isort = "*"
flake8 = "*"
docformatter = "*"
pre-commit = "*"
pytest-xdist = "*"

[requires]
python_version = "3.9"
